[package]
name = "snowflake-connector-rs"
version = "0.1.0"
edition = "2021"

[dependencies]
reqwest = { version = "0.11.18", features = ["json", "gzip"] }
serde = { version = "1.0.164", features = ["derive"] }
serde_json = "1.0.99"
thiserror = "1.0.40"
uuid = { version = "1.3.4", features = ["v4"] }
